*{
    font-family: monospace;
}
.calculator{
    display: block;
}
.getCalculator{
    display: none;
    height: 500px;
}
.btn{
    margin: 4.5px;
}
.container{
    width: 50% !important;
    padding: 50px 10px;
    border: tomato 2px solid;
}
